<template>
  <div>
    <div>
      <h1>Sign Up</h1>
      <br />
    </div>
    <b-form-input v-model="username" placeholder="Username"></b-form-input>
    <p id="demo1" class="active text-danger"></p>
    <b-form-input v-model="email" placeholder="Email"></b-form-input>
    <p id="demo2" class="active text-danger"></p>
    <b-form-input
      v-model="password"
      placeholder="Password"
      type="password"
    ></b-form-input>
    <p id="demo3" class="active text-danger"></p>
    <b-form-input
      v-model="confirm"
      placeholder="Confirm Password"
      type="password"
    ></b-form-input>
    <p id="demo4" class="active text-danger"></p>
    <div>
      <b-button variant="dark" @click="addNewUser()">Sign In</b-button>
      &nbsp;
      <b-button variant="danger" @click="resetForm()">Cancel</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      username: '',
      email: '',
      password: '',
      confirm: '',
      status: 'company'
    }
  },
  methods: {
    addNewUser () {
      if (this.username === '' &&
          this.email === '' &&
          this.password === '' &&
          this.confirm === '') {
        document.getElementById('demo1').innerHTML =
          'Please enter your username'
        document.getElementById('demo2').innerHTML =
          'Please enter your email'
        document.getElementById('demo3').innerHTML =
          'Please enter your password'
        document.getElementById('demo4').innerHTML =
          'Please enter your confirm password'
      } else if (this.username.length < 5 && this.password !== this.confirm) {
        document.getElementById('demo1').innerHTML =
          'Username must be 5-12 characters long'
        document.getElementById('demo4').innerHTML =
          'Password and confirm password does not match.'
      } else if (this.username.length < 5) {
        document.getElementById('demo1').innerHTML =
          'Username must be 5-12 characters long'
      } else if (this.password !== this.confirm) {
        document.getElementById('demo4').innerHTML =
          'Password and confirm password does not match.'
      } else {
        axios
          .post('http://localhost:3000/users', {
            username: this.username,
            email: this.email,
            password: this.password,
            status: this.status
          })
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
        this.resetForm()
      }
    },
    getUsers () {
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetForm () {
      this.username = ''
      this.email = ''
      this.password = ''
      this.confirm = ''
      document.getElementById('demo1').innerHTML = ''
      document.getElementById('demo2').innerHTML = ''
      document.getElementById('demo3').innerHTML = ''
      document.getElementById('demo4').innerHTML = ''
    }
  }
}
</script>
