<template>
  <div>
    <b-navbar toggleable="lg" type="success" variant="success">
      <b-container class="bv-example-row">
        <b-row align-h="center">
          <b-col
            ><b-button squared variant="success" size="lg" to="/"
              >Home</b-button
            ></b-col
          >
          <b-col
            ><b-button squared variant="success" size="lg" to="/search"
              >Search</b-button
            ></b-col
          >
          <b-col
            ><b-button squared variant="success" size="lg" to="/showdetail"
              >Showdetail</b-button
            ></b-col
          >
          <b-col
            ><b-button squared variant="success" size="lg" to="/resume"
              >Resume</b-button
            ></b-col
          >
        </b-row>
      </b-container>
    </b-navbar>
  </div>
</template>
<script>
export default {
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal () {
      this.$refs['my-modal'].hide()
    },
    toggleModal () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal'].toggle('#toggle-btn')
    }
  }
}
</script>
