<template>
  <div><br>
    <b-button variant="outline-success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Companyname"
          label-for="companyname"
          :invalid-feedback="invalidFeedbackCompanyname"
          valid-feedback="สำเร็จ"
          :state="stateCompanyname"
        >
          <b-form-input
            id="companyname"
            v-model="form.companyname"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          valid-feedback="สำเร็จ"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          valid-feedback="สำเร็จ"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            v-model="form.email"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Tel"
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          valid-feedback="สำเร็จ"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import jobseekerService from './JobseekerService.js'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        companyname: '',
        address: '',
        email: '',
        tel: ''
      },
      userList: [],
      fields: ['companyname', 'address', 'email', 'tel', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New user ')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.companyname + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            // userService.deleteUser(this.form)
            // this.getJobseekers()
            axios
              .delete('http://localhost:3000/company/' + user._id).then(res => {
                console.log(res)
                this.getCompany()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        companyname: '',
        address: '',
        email: '',
        tel: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateCompanyname === false ||
        this.stateAddress === false ||
        this.stateEmail === false ||
        this.stateTel === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // jobseekerService.updateUser(this.form)
        // this.getJobseekers()
        axios
          .put('http://localhost:3000/company', this.form)
          .then(res => {
            console.log(res)
            this.getCompany()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/company', this.form)
          .then(res => {
            console.log(res)
            this.getCompany()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getCompany () {
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/company')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateCompanyname () {
      return this.form.companyname.length >= 2
    },
    invalidFeedbackCompanyname () {
      if (this.form.companyname.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อ'
    },
    stateAddress () {
      return this.form.address.length >= 5
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return 'ที่อยู่ใส่อย่างน้อย 5 ตัวอักษร'
      }
      return 'ต้องใส่ที่อยู่'
    },
    stateEmail () {
      return this.form.email.length >= 5
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 0) {
        return 'อีเมลต้องมี 5 ตัว'
      }
      return 'ต้องใส่อีเมล'
    },
    stateTel () {
      return this.form.tel.length === 10
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 0) {
        return 'เบอร์โทรศัพท์ต้องมี 10 ตัว'
      }
      return 'ต้องใส่เบอร์โทรศัพท์'
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getCompany()
  }
}
</script>
