<template>
  <div><br>
    <b-button variant="outline-success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Username"
          label-for="username"
          :invalid-feedback="invalidFeedbackUsername"
          valid-feedback="สำเร็จ"
          :state="stateUsername"
        >
          <b-form-input id="username" v-model="form.username" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Password"
          label-for="password"
          :invalid-feedback="invalidFeedbackPassword"
          valid-feedback="สำเร็จ"
          :state="statePassword"
        >
          <b-form-input id="password" v-model="form.password" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import jobseekerService from './JobseekerService.js'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ระบบใหม่',
      form: {
        _id: '',
        username: '',
        password: ''
      },
      userList: [],
      fields: [
        'username',
        'password',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New user ')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบ ' + user.username + 'หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            // userService.deleteUser(this.form)
            // this.getJobseekers()
            axios
              .delete('http://localhost:3000/login/' + user._id).then(res => {
                console.log(res)
                this.getLogin()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        username: '',
        password: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateUsername === false ||
        this.statePassword === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // jobseekerService.updateUser(this.form)
        // this.getJobseekers()
        axios
          .put('http://localhost:3000/login', this.form)
          .then(res => {
            console.log(res)
            this.getLogin()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/login', this.form)
          .then(res => {
            console.log(res)
            this.getLogin()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getLogin () {
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/login')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateUsername () {
      return this.form.username.length >= 2
    },
    invalidFeedbackUsername () {
      if (this.form.username.length > 5) {
        return 'Username ต้องมีขนาดอย่างน้อย 5 ตัวอักษร'
      }
      return 'ต้องใส่ Username'
    },
    statePassword () {
      return this.form.password.length >= 8
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 0) {
        return 'Password ต้องมีขนาดอย่างน้อย 8 ตัวอักษร'
      }
      return 'ต้องใส่ Password'
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getLogin()
  }
}
</script>
